html

  head
    block title
      title Smaato Base UI
    link(
      rel='stylesheet'
      href='../css/examples/index.css?v=#{DATE_TIME}'
    )
    script(
      src='../js/dist.js?v=#{DATE_TIME}'
    )

  body

    block content

    script.

      // Render a component into an element with an ID.
      window.renderComponent = function(elementId, component) {
        React.render(
          component,
          document.getElementById(elementId)
        );
      };

    block component
