head
  block title
    title Smaato Base UI
  link(
    rel='stylesheet'
    href='../css/examples/index.css?v=#{DATE_TIME}'
  )
  script(
    src='../js/dist.js?v=#{DATE_TIME}'
  )
  script(
    src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'
  )