doctype html
html(lang='en')

  head

    //- We need to specify the charset in order to use D3.
    meta(
      http-equiv="content-type"
      content="text/html; charset=UTF8"
    )

    link(
      rel='stylesheet'
      href='./css/dist.css?v=#{DATE_TIME}'
    )

    //- Fonts
    link(
      href = "//fonts.googleapis.com/css?family=Ubuntu+Mono|400"
      rel = "stylesheet"
      type = "text/css"
    )

    //- Icons
    link(
      href = "//s3.amazonaws.com/smt-ui-icon-library/icons.css"
      rel = "stylesheet"
      type = "text/css"
    )

  body
    #app
    script(
      src='./js/dist.js?v=#{DATE_TIME}'
    )
