doctype html
html(lang='en')

  head
    title Smaato UI Framework
    link(
      rel='stylesheet'
      href='/css/index.css?v=#{DATE_TIME}'
    )
    script(
      src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js'
    )

  body

    #app
    script(
      src='/js/index.js?v=#{DATE_TIME}'
    )
